<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Laba12</title>
</head>

<body>
    <div id="bg_color" class="color">
        <div class="main">
            <br>
            <h1>Список студентов</h1>
            <p>Создание формы, используя возможности прогрессивного фреймворка Vue.js.<br>
                В работе над задачей были использованы следующие директивы: v-model, v-on, v-bind, v-for, v-if и v-else
            </p>
            <h2>Форма</h2>

            <div id="count">
                <form>
                    <label for="surname">
                        <div style="margin-right: 240px;">Фамилия<br></div><input type="text" required
                            placeholder="Ваша фамилия" id="surname" v-model="sname">
                    </label><br>



                    <label for="name">
                        <div style="margin-right: 280px;">Имя<br></div><input type="text" required
                            placeholder="Ваше имя" id="name" v-model="name_n">
                    </label>
                </form>

                <div style="margin-right: 130px;">Количество знаков: {{length}}</div>


                <button class="btn" v-on:click.prevent="addItem" v-bind:disabled="Button">Записать</button>

                <h1>{{header}}</h1>
                <div v-if="items.length == 0">Список пуст</div>

                <div v-else>
                    <ol style="display: inline-block;">
                        <li v-for="item in items">
                            {{item}}
                        </li>
                    </ol><br>
                    <button class="btn" v-on:click="clear">Очистить</button>

                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
        <script>
            new Vue({
                el: '#count',
                data: {
                    sname: '',
                    name_n: '',
                    header: 'Список',
                    items: [
                    ],
                    Button: true,
                },
                computed: {
                    length: function () {
                        return this.sname.length + this.name_n.length;
                    }
                },

                methods: {
                    addItem: function () {
                        if (this.sname !== '' && this.name_n !== '') {
                            const item = {};
                            item.one = this.sname;
                            item.two = this.name_n;

                            i1 = this.sname[0];
                            i2 = this.name_n[0];

                            this.sname = this.sname.toLowerCase().slice(1);
                            this.name_n = this.name_n.toLowerCase().slice(1);

                            this.sname = i1.toUpperCase() + this.sname;
                            this.name_n = i2.toUpperCase() + this.name_n;



                            this.items.push(`${this.sname} ${this.name_n} `);
                            this.sname = '';
                            this.name_n = '';
                        }
                    },
                    clear: function () {
                        this.items = []
                    },

                },
                watch: {

                    sname(value) {
                        if (value.length > 0 && this.name_n.length > 0) {
                            this.Button = false;
                        } else {
                            this.Button = true;
                        }
                    },

                    name_n(value) {
                        if (value.length > 0 && this.sname.length > 0) {
                            this.Button = false;
                        } else {
                            this.Button = true;
                        }
                    },
                },

            });

        </script>

    </div>
</body>

</html>